{% extends 'base.html' %} 
{% load static %}
{% comment %} Chart js {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


{% block content %}

<div id="page-wrapper">
  <div class="container-fluid">
      <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <h4 class="page-title">Inventory Sales</h4> 
          </div>
      </div>
      <!--row -->
      <!-- /.row -->
      <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="white-box">

                  <form action="{% url 'dashboard' %}" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="startDate">From Date *</label>
                          <input type="date" class="form-control" name="start_date" id="startDate" required value="" />
                      </div>
                      
                      <div class="form-group">
                          <label for="endDate">To Date *</label>
                          <input type="date" class="form-control" name="end_date" id="endDate" required value="">
                      </div>
                      <button type="submit" name="plotChart" class="btn btn-info">Apply Filter</button>
                  </form>
    {% comment %} My Chart {% endcomment %}
              <div id="container" style="width: 75%;">
                  <canvas id="pie-chart"></canvas>
              </div> 
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
              <script>
            
                var config = {
                  type: 'bar',
                  data: {
                    datasets: [{
                      data: {{ data|safe }},
                      backgroundColor: [
                        'green', 'yellow', 'orange', 'blue', 'red'
                      ],
                      label: 'Sales'
                    }],
                    labels: {{ labels|safe }}
                  },
                  options: {
                    scales: {
                        x: {
                            type: 'timeseries',
                        }
                    }
                    }
                };
            
                window.onload = function() {
                  var ctx = document.getElementById('pie-chart').getContext('2d');
                  window.myPie = new Chart(ctx, config);
                };
            
              </script>
            {% comment %} End My Chart {% endcomment %}
          </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}