Django==3.1.14
django-admin-thumbnails==0.2.5
django-allauth==0.44.0
django-ckeditor==6.0.0
django-crispy-forms==1.10.0
django-js-asset==1.2.2
django-mptt==0.11.0
djangorestframework==3.12.2
Pillow==9.3.0
requests==2.22.0
